:root {
  /* Colors */
  --main-text-clr: #2E2F42;
  --secondary-text-clr: #434455;
  --logo-clr: #f4f4fd;
  --btn-clr: #4d5ae5;
  --activation: #404bbf;
  --main-background-clr: #ffffff;


  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

/**
  |============================
  | BODY
  |============================
*/

body {
  background-color: var(--main-background-clr);
  color: var(--secondary-text-clr);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.button-text {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	border: none;
}

/**
  |============================
  | THE SAME DATA
  |============================
*/

.heading-text {
  color: var(--main-text-clr);
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.subtitle-text {
  font-size: 16px;
  color: var(--secondary-text-clr);
}

.list {
  list-style: none;
}


.link {
  text-decoration: none;
}

.button {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.header-nav-link:focus,
.header-nav-link:hover,
.header-list-link:focus,
.header-list-link:hover {
  color: var(--activation);
}


/* !!! INDEX PAGE !!! */

/**
  |============================
  | Header Section
  |============================
*/

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--btn-clr);
  text-transform: uppercase;
}

.header-logo {
  color: var(--main-text-clr);
}

.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-clr);
}

.header-contact,
.header-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-text-clr);
}

/**
  |============================
  | Hero Section
  |============================
*/

.hero-section {
  background-color: var(--main-text-clr);
}
.heading-main {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
}

.main-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: var(--btn-clr);
  cursor:pointer;
}

.main-btn:focus,
.main-btn:hover {
  background-color: var(--activation);
}

/**
  |============================
  | About Us Section
  |============================
*/

.goals {
}

.hidden {
  line-height:1.11;
}


.heading-title-main {
  color: var(--main-text-clr);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}



/**
  |============================
  | What Are We Doing Section
  |============================
*/

.section-summary {
}

/**
  |============================
  | Our Team Section
  |============================
*/

.team-section {
  background-color: var(--logo-clr);
}

.team-img {
  background-color: var(--main-background-clr);
}

/**
  |============================
  | Footer Section
  |============================
*/

.footer {
  background-color: var(--main-text-clr);
}

.logo {
}

.footer-logo,
.footer-text {
  color: var(--logo-clr);
}

/* !!! PORTFOLIO PAGE !!! */

.filter-btn {
	color:var(--btn-clr);
	background-color:var(--logo-clr);
	cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus{
	color:var(--main-background-clr);
	background-color: var(--activation) ;



.heading-title-secondary {
  color: var(--main-text-clr);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hidden {
}

.filter-btn {
  font-family: 'Roboto', sans-serif;
  color: var(--btn-clr);
  background-color: var(--logo-clr);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor:pointer;
  letter-spacing: 0.04em;
}

.filter-btn:focus,
.filter-btn:hover {
  color:  #FFFFFF ;
  background-color:  #FFFFFF ;
}

.portfolio-title{
  color: var(--secondary-text-clr)
}

/**
  |============================
  | Another
  |============================
*/

.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;	
	letter-spacing: 0.02em;
}